.all{
    justify-content: space-between;

}

.Navbar{
    padding: 25px;
    *{
        text-decoration: none;
        color: rgb(142, 155, 255);
        margin: 10px;
        font-size: 25px;
    }:hover{
        color: rgb(65, 33, 252);
    }
}

.Navbar1{
    padding: 25px;
    *{
        text-decoration: none;
        color: rgb(142, 155, 255);
        margin: 10px;
        font-size: 25px;
    }:hover{
        color: rgb(65, 33, 252);
    }
}
